@keyframes example {
    0% {border-color: rgb(228, 203, 64);}
    25%  {border-color: rgb(224, 106, 106);}
    50%  {border-color: rgb(156, 201, 127); }
    75%  {border-color: rgb(94, 179, 228); }
    100%  {border-color: rgb(210, 106, 224);}
}

#game-models-button button
{
    display: inline-block;
    text-align: center;
    width: 24em;
    margin-bottom: 4em;
    margin-top: 2em;
    height: 50em;
    border-radius: 2em;
    border-style: none;
    background-color: rgb(82, 87, 92);
}

#game-models-button
{
    text-align: center;

}
#game-models-button form{
    
    display: inline;
    text-align: center;
}
div
{
    text-align: center;
}

p
{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
}

#gameButton:hover
{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-width: 0.7em;
    border-radius: 3em;
    border-style: solid;
    background-image: url("game.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 380px;
    background-size: 7em;
}

#modelButton:hover
{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-width: 0.7em;
    border-radius: 3em;
    border-style: solid;
    background-image: url("model.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 380px;
    background-size: 7em;
}