body
{
    font-family:'Courier New', Courier, monospace; 
}

.navigation-bar
{
    text-align: center;
    margin-top: 7em;

}

.navigation-bar li
{
    list-style-type: none;
    display:inline-block;
}
hr
{
    margin-right:1em;
}

.navigation-bar a
{
    text-decoration: none;
    padding: 2em;
    color: black;
    font-size: 1.5em;
}

h1
{
   font-size: 2em;
   letter-spacing: 1em;
   display: inline-block;
   text-align: center;
}